.container {
  img {
    max-width: 80px;
    max-height: 200px;
  }
  .table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .data-row {
      margin-bottom: 10px;

      td {
        border-bottom: 1px solid rgba(0,0,0,.12);
      }
    }
    .title {
      max-width: 400px;
    }
    .actions {
      text-align: center;
    }
  }
}
